@media screen and (min-width: 750px) {
    a {
        color: black;
    }
    
    i {
        color: blue;
    }
}

@media screen and (min-width: 1024px) {
    @remove a;
    
    i {
        @remove color;
        color: red;
    }

}
